#header {
    position: relative;
}

.icon {
    position: absolute;
}

#menu_bar {
    position: absolute;
    right: 0px;
}

#homePage_icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    background-image: url("https://img.flaticon.com/icons/png/512/25/25694.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF")
}